.about-container{
    color: white;
    width: 55%;
}

.about-container p {
    color: white;
    font-size: large;
}

.page-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    min-height: 100vh
}

.page-container span {
    color: white;
    font-size: 50px;
    text-align: center;
}

.page-container div {
    text-align: center;
}

.icons-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;

}

.contact-container a {
    text-decoration: none;
    font-size: 20px;
    padding-top: 10px;
    color: white;
    display: flex;
}

.contact-container a:hover {
    color: rgba(197, 115, 230, 0.883);
}
   