
.navbar-items{
  display: flex;
  justify-content: flex-end;
  width: 95%;
  color: white;
  gap: 25px;
  opacity: 0;
  transform: translateX(-100%);
  animation: fadeInAnimation 2s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.items{
  text-decoration: none;
  color: white;
}