
h1 {
  color: white;
}

.projects-container{
  text-align: center;
}

.oval {
  width: 400px;
  height: 330px;
  border-radius: 10%;
  background-color: #161a1d;
}

.oval-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.oval-contents-grid {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.skills-container{
  display: inline-block;
}

.skills-container span {
  padding-right: 10px;
  color: gold;
}

@media (min-width: 1000px) {
  .oval-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}